body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    background-color: #d5d4d4;
    border-radius: 50px;
    padding: 30px;
    width: 300px;
    

}
h1{
    color: rgb(0, 255, 47);
    text-align: center;
    margin-bottom: 20px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input{
    margin-bottom: 15px;
    padding: 8%;
    border-radius: 5px;
    background-color: #ffffff96;
    border: 1px solid black;
    margin-left: 40px;
    border-radius: 5px;
}
button{
    background-color: #1e67e3;
color: antiquewhite;
padding: 8%;
border-radius: 8px;
margin-left: 80px;

}
button:hover{
    background-color: #181b86;
}